* {
  motion: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

button {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
}

body {
  background: #E5E5E5;
}